<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.IniciativaMapper">

<resultMap id = "IniciativaResult" type = "Iniciativa">
    <id property = "id" column = "iid"/>
    <result property = "descripcion" column = "descripcion"/>
    <result property = "estado" column = "estado"/>
    <result property = "fechaCreacion" column = "fecha_creacion"/>
    <result property = "area" column = "area"/>
    <result property = "palabrasClave" column = "palabrasclave"/>
    <association property="usuario" javaType="Usuario" resultMap="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.UsuarioMapper.UsuarioResult" />
</resultMap>



<update id = "cambiarEstado" parameterType = "Iniciativa">
      UPDATE Iniciativas SET estado = #{estado}
      WHERE ID = #{id};
</update>

<select id="buscarIniciativa" resultMap="IniciativaResult">
  
         select
	i.id as iid,
        descripcion,
        estado,
        fecha_creacion,
        area,
        usuario_id as id,
        nombre, 
        email,
        contrasena,
        rol,
        palabrasclave
	    FROM usuarios join iniciativas as i on i.id = usuarios.id 
        where lower (palabrasclave) like  lower ('%#{palabra}%')
</select>

<select id="getIniciativas" resultMap="IniciativaResult">
        select
        i.id as iid,
        descripcion,
        estado,
        fecha_creacion,
        area,
        usuario_id as id,
        nombre, 
        email,
        contrasena,
        rol,
        palabrasclave
	FROM usuarios join iniciativas as i on i.id = usuarios.id 
</select>

<select id="consultarIniciativa" resultMap="IniciativaResult">
        select
        i.id as iid,
        descripcion,
        estado,
        fecha_creacion,
        area,
        usuario_id as id,
        nombre, 
        email,
        contrasena,
        rol,
        palabrasclave
	FROM usuarios join iniciativas as i on i.id = usuarios.id
        WHERE i.id=#{id}
</select>


</mapper>
