<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.IniciativaMapper">

<resultMap id = "IniciativaResult" type = "Iniciativa">
    <id property = "id" column = "iid"/>
    <result property = "descripcion" column = "Descripcion"/>
    <result property = "estado" column = "Estado"/>
    <result property = "fechaCreacion" column = "Fecha_Creacion"/>
    <result property = "palabrasClave" column = "PalabrasClave"/>
    <association property="usuario" javaType="Usuario" resultMap="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.UsuarioMapper.UsuarioResult" />
</resultMap>


 <insert id="registrarIniciativa">
        INSERT INTO INICIATIVAS (descripcion, estado, fecha_creacion, usuario_id,palabrasclave)
        VALUES (#{descripcion},'En_Espera_Revision', #{fecha},#{usuario},#{palabrasclave})
 </insert>
 
 <insert id="comentarIniciativas">
        INSERT INTO COMENTARIOS (usuario_id,iniciativa_id,comentario,fecha_publicacion)
        VALUES (#{usuario_id},#{iniciativa_id},#{comentario},#{fecha_publicacion})
 </insert>
    
 <insert id="darLike">
        INSERT INTO Likes (usuario_id,iniciativa_id)
        VALUES (#{id_usuario},#{id_iniciativa})
 </insert>
    
<update id = "cambiarEstado" parameterType = "Iniciativa">
      UPDATE Iniciativas SET estado = #{estado}
      WHERE ID = #{id};
</update>

<update id = "modificarDescripcion" parameterType = "Iniciativa">
      UPDATE Iniciativas SET descripcion = #{descripcion}
      WHERE ID = #{id};
</update>

<update id = "modificarPalabrasClave" parameterType = "Iniciativa">
      UPDATE Iniciativas SET palabrasclave = #{palabrasclave}
      WHERE ID = #{id};
</update>


<select id="consultarLikes" resultType="string">          
         select
         case 
         when (count(iniciativa_id) is null) then '0'
         else count(iniciativa_id)
         end
         from Likes  
         where iniciativa_id = #{iniciativa}
</select>

<select id="buscarIniciativa" resultMap="IniciativaResult">
  
         select
	i.id as iid,
        Descripcion,
        Estado,
        Fecha_Creacion,
        area,
        usuario_id as id,
        nombre, 
        email,
        contrasena,
        rol,
        PalabrasClave
	    FROM usuarios join iniciativas as i on usuario_id = usuarios.id 
        where lower (palabrasclave) LIKE  CONCAT('%', #{palabra} ,'%') 
</select>

<select id="buscarIniciativasRelacionadas" resultMap="IniciativaResult">
        select
	i.id as iid,
        Descripcion,
        Estado,
        Fecha_Creacion,
        area,
        usuario_id as id,
        nombre, 
        email,
        contrasena,
        rol,
        PalabrasClave
	    FROM usuarios join iniciativas as i on usuario_id = usuarios.id 
        where lower (palabrasclave) LIKE  CONCAT('%', #{palabra} ,'%') and #{id} != i.id
</select>


<select id="getIniciativas" resultMap="IniciativaResult">
        select
        i.id as iid,
        Descripcion,
        Estado,
        fecha_creacion,
        area,
        usuario_id as id,
        nombre, 
        email,
        contrasena,
        rol,
        PalabrasClave
	FROM usuarios join iniciativas as i on usuario_id = usuarios.id 
</select>

<select id="consultarIniciativa" resultMap="IniciativaResult">
        select
        i.id as iid,
        Descripcion,
        Estado,
        fecha_creacion,
        area,
        usuario_id as id,
        nombre, 
        email,
        contrasena,
        rol,
        PalabrasClave
	FROM usuarios join iniciativas as i on usuario_id = usuarios.id
        WHERE i.id=#{id}
</select>

<select id="getEstadisticas"  resultType="string">
    SELECT 
        CONCAT(area,' ',COUNT(descripcion))
    from 
        iniciativas join usuarios on usuarios.id=usuario_id 
    GROUP BY area
</select>

<select id="getEstadisticasEstado"  resultType="string">
    SELECT 
        CONCAT(estado,' ',COUNT(descripcion))
    from 
        iniciativas join usuarios on usuarios.id=usuario_id 
    GROUP BY estado
</select>

<select id="buscarIniciativaProponente" resultMap="IniciativaResult">
        select
        i.id as iid,
        Descripcion,
        Estado,
        fecha_creacion,
        area,
        usuario_id as id,
        nombre, 
        email,
        contrasena,
        rol,
        PalabrasClave
	FROM usuarios join iniciativas as i on usuario_id = usuarios.id
        WHERE usuario_id=#{id}
</select>





</mapper>