<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.ProponenteMapper">
    <resultMap id="ProponenteResult" type="Proponente">
        <id property = "id" column = "id"/>
        <result property = "nombre" column = "nombre"/>
        <result property = "email" column = "email"/>
        <result property = "contrasena" column = "contrasena"/>
        <result property = "rol" column = "rol"/>
        <collection property="iniciativas" ofType="Iniciativa" resultMap='edu.eci.pdsw.sampleprj.dao.mybatis.mappers.IniciativaMapper.IniciativaResult'></collection> 
    </resultMap>
    <!--Falta columna Titulo en iniciativa-->
    <insert id="registrarIniciativa">
        INSERT INTO INICIATIVAS (descripcion, estado, fecha_creacion, usuario_id, area)
        VALUES (#{descripcion},'Espera revision', #{fecha},#{usuario},#{area})
    </insert>
    

</mapper>
