<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.UsuarioMapper">
    <resultMap id="UsuarioResult" type="Usuario">
        <id property = "id" column = "id"/>
        <result property = "nombre" column = "Nombre"/>
        <result property = "email" column = "email"/>
        <result property = "contrasena" column = "contrasena"/>
        <result property = "rol" column = "rol"/>
        <result property = "area" column = "area"/>
        <collection property="iniciativas" ofType="Iniciativa" resultMap='edu.eci.pdsw.sampleprj.dao.mybatis.mappers.IniciativaMapper.IniciativaResult'></collection> 
    </resultMap>
    <!--Falta columna Titulo en iniciativa-->
   
    
    <select id="consultarUsuario" resultMap="UsuarioResult">
        select
        id, 
        nombre, 
        email, 
        contrasena,
        rol,
        area 
        from usuarios  
        WHERE email = #{email}
    </select>

    <insert id="insertarUsuario">
        insert into usuarios (nombre,email,rol,contrasena,area)
        values (#{usuario.nombre},#{usuario.email},'En_Espera',#{usuario.contrasena},#{usuario.area})
    </insert>

    <select id="consultarUsuarios" resultMap="UsuarioResult">
                    select
                *
                FROM usuarios
    </select>

    <select id="consultarUsuariosSinRol" resultMap="UsuarioResult">
            select
                *
                FROM usuarios as u 
            where u.rol is null
    </select>

    <update id="cambiarRol"  parameterType ="Usuario" >
        UPDATE USUARIOS SET rol = #{rol}
        WHERE id = #{usuario.id}
    </update>

</mapper>
