<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.UsuarioMapper">

<resultMap id = "UsuarioResult" type = "Usuario">
	   <id property = "id" column = "id"/>
	   <result property = "nombre" column = "nombre"/>
	   <result property = "email" column = "email"/>
	   <result property = "contrasena" column = "contrasena"/>
       <result property = "rol" column = "rol"/>
       <collection property="iniciativas" ofType="Iniciativa" resultMap='edu.eci.pdsw.sampleprj.dao.mybatis.mappers.IniciativaMapper.IniciativaResult'></collection> 
       <collection property="apoyar" ofType="Iniciativa" resultMap='edu.eci.pdsw.sampleprj.dao.mybatis.mappers.IniciativaMapper.IniciativaResult'></collection>  
	</resultMap>


<select id="consultarUsuario" resultMap="UsuarioResult">
 		select
	    id, 
        nombre, 
        email, 
        contrasena,
        rol 
        from usuarios  
	    WHERE email = #{email}
 	</select>

<insert id="insertarUsuario">
    insert into Usuario (id,nombre,email,rol,contrasena)
    values (#{usario.id},#{usuario.nombre},#{usuario.email},#{usuario.rol},#{usuario.contrasena})
</insert>

<select id="consultarUsuarios" resultMap="UsuarioResult">
 		select
	    *
	    FROM Usuario
</select>

<select id="consultarUsuariosSinRol" resultMap="UsuarioResult">
 		select
	    *
	    FROM Usuario as u 
        where u.rol is null
</select>

</mapper>
