*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.enter {
  margin: 0 auto;
  display: inline-block;
}

body {  
        background-image:url('imagen5.jpg');
		background-repeat: no-repeat;

		background-size: cover;
                background-attachment: fixed;
                 
	
	
}
.scroll
{
     overflow-x:scroll;
     overflow-y:hidden;
}
#imagenU{
    padding: 5%;
    
    width: 150%;
    height: 150%;
    position: absolute;
    top: 60%;
    left: 0.5%;         
}
  
h1{
		font-size: 3rem;
		text-align: center;
		color: white;
		margin-top: 0.5em;
	}
	
form{
	margin:auto;
	width: 50%;
	max-width: 500px;
	padding: 100px;
	
}

h2{
	font-size: 2rem;
	text-align: center;
	color: white;
	margin-bottom: 2em;
}

input{
	display: block;
	padding: 10px;
	width: 100%;
	margin: 30px 0;
	font-size: 20px;

}
input[type="button"]{
	margin-left: auto;
    margin-right: auto;
    float: none;
	text-align:center;
	width: 50%;
	border-radius:20px;
}
@media(max-widh: 768px){
	form{
		width:75%;
	}
        
}
@media(max-widh: 480px){
	form{
		width:90%;

	}

        
}

